<a href="https://colab.research.google.com/github/Jyothsna9618/Jabboju1/blob/main/Assignment_07/assignment07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Assignment 7

In [2]:
import pandas as pd

In [1]:
 link = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_07_world_dev/world_devlopment_indicator.csv"

In [4]:
data = pd.read_csv(link)
data

,Unnamed: 0,Year,value,indicator,Country Code,Country Name,Region,Income Group,Lending Type
0,0,2002,8.763276e+02,NY.GDP.PCAP.PP.CD,AFG,Afghanistan,South Asia,Low income,IDA
1,1,2003,9.281916e+02,NY.GDP.PCAP.PP.CD,AFG,Afghanistan,South Asia,Low income,IDA
2,2,2004,9.257042e+02,NY.GDP.PCAP.PP.CD,AFG,Afghanistan,South Asia,Low income,IDA
3,3,2005,1.023550e+03,NY.GDP.PCAP.PP.CD,AFG,Afghanistan,South Asia,Low income,IDA
4,4,2006,1.078907e+03,NY.GDP.PCAP.PP.CD,AFG,Afghanistan,South Asia,Low income,IDA
...,...,...,...,...,...,...,...,...,...
34949,34949,2017,1.423660e+07,SP.POP.TOTL,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend
34950,34950,2018,1.443881e+07,SP.POP.TOTL,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend
34951,34951,2019,1.464547e+07,SP.POP.TOTL,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend
34952,34952,2020,1.486293e+07,SP.POP.TOTL,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend
34953,34953,2021,1.509217e+07,SP.POP.TOTL,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend