<a href="https://colab.research.google.com/github/Jyothsna9618/Jabboju1/blob/main/Assignment_04/assignment04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("MERGED2017_18_PP.csv", sep=",")
print(df)

        UNITID    OPEID  OPEID6  \
0       100654   100200    1002
1       100663   105200    1052
2       100690  2503400   25034
3       100706   105500    1055
4       100724   100500    1005
...        ...      ...     ...
7107  48312404   108163    1081
7108  48387801  4223701   42237
7109  48400201  4228101   42281
7110  48778201  4221501   42215
7111  49005401  4182601   41826

                                                 INSTNM             CITY  \
0                              Alabama A & M University           Normal
1                   University of Alabama at Birmingham       Birmingham
2                                    Amridge University       Montgomery
3                   University of Alabama in Huntsville       Huntsville
4                              Alabama State University       Montgomery
...                                                 ...              ...
7107                   Arizona State University at Yuma             Yuma
7108  Bay Area Medical Academy - San Jose Satellite ...         San Jose
7109           High Desert Medical College - Bakerfield      Bakersfield
7110                                       BCI - Malden           Malden
7111               HCI College - Fort Lauderdale Campus  Fort Lauderdale

     STABBR         ZIP  ACCREDAGENCY  INSTURL  NPCURL  ...  \
0        AL       35762           NaN      NaN     NaN  ...
1        AL  35294-0110           NaN      NaN     NaN  ...
2        AL  36117-3553           NaN      NaN     NaN  ...
3        AL       35899           NaN      NaN     NaN  ...
4        AL  36104-0271           NaN      NaN     NaN  ...
...     ...         ...           ...      ...     ...  ...
7107     AZ   853656900           NaN      NaN     NaN  ...
7108     CA       95113           NaN      NaN     NaN  ...
7109     CA       93301           NaN      NaN     NaN  ...
7110     MA   021480000           NaN      NaN     NaN  ...
7111     FL       33309           NaN      NaN     NaN  ...

      OMENRUP_PARTTIME_POOLED_SUPP  FTFTPCTPELL  FTFTPCTFLOAN   UG12MN  \
0                              NaN       0.7106        0.7418   5207.0
1                              NaN       0.4009        0.5488  13308.0
2                              NaN       0.5000        0.5000    431.0
3                              NaN       0.2012        0.4231   7519.0
4                              NaN       0.7594        0.7402   5229.0
...                            ...          ...           ...      ...
7107                           NaN          NaN           NaN      NaN
7108                           NaN          NaN           NaN      NaN
7109                           NaN          NaN           NaN      NaN
7110                           NaN          NaN           NaN      NaN
7111                           NaN          NaN           NaN      NaN

       G12MN  SCUGFFN  POOLYRS_FTFTAIDPCT  FTFTPCTPELL_POOLED_SUPP  \
0     1185.0   1410.0                 NaN                      NaN
1     9888.0   1948.0                 NaN                      NaN
2      437.0      4.0                 NaN                      NaN
3     2378.0   1203.0                 NaN                      NaN
4      687.0   1143.0                 NaN                      NaN
...      ...      ...                 ...                      ...
7107     NaN      NaN                 NaN                      NaN
7108     NaN      NaN                 NaN                      NaN
7109     NaN      NaN                 NaN                      NaN
7110     NaN      NaN                 NaN                      NaN
7111     NaN      NaN                 NaN                      NaN

      FTFTPCTFLOAN_POOLED_SUPP  SCUGFFN_POOLED
0                          NaN             NaN
1                          NaN             NaN
2                          NaN             NaN
3                          NaN             NaN
4                          NaN             NaN
...                        ...             ...
7107                       NaN             NaN
7108                       NaN             NaN
7109                       NaN             NaN
7110                       NaN             NaN
7111                       NaN             NaN

[7112 rows x 1986 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
print("Rows :",len(df))

Rows : 7112

In [5]:
print("Columns :",len(df.columns))

Columns : 1986

In [6]:
df.head(5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,0.7106,0.7418,5207.0,1185.0,1410.0,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,0.4009,0.5488,13308.0,9888.0,1948.0,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,0.5000,0.5000,431.0,437.0,4.0,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,0.2012,0.4231,7519.0,2378.0,1203.0,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,0.7594,0.7402,5229.0,687.0,1143.0,NaN,NaN,NaN,NaN

In [7]:
df.tail(5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
7107,48312404,108163,1081,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7108,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7109,48400201,4228101,42281,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7110,48778201,4221501,42215,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7111,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.sample(5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
202,110097,112200,1122,Biola University,La Mirada,CA,90639-0001,NaN,NaN,NaN,...,NaN,0.2707,0.5981,4256.0,2263.0,846.0,NaN,NaN,NaN,NaN
1877,177117,245800,2458,Cottey College,Nevada,MO,64772,NaN,NaN,NaN,...,NaN,0.4787,0.5213,291.0,NaN,94.0,NaN,NaN,NaN,NaN
5292,449773,4089400,40894,CCI Training Center-Arlington,Arlington,TX,76011,NaN,NaN,NaN,...,NaN,0.5185,0.4259,345.0,NaN,108.0,NaN,NaN,NaN,NaN
4303,381325,2332803,23328,CET-Santa Maria,Santa Maria,CA,93458,NaN,NaN,NaN,...,NaN,0.5250,0.3250,238.0,NaN,80.0,NaN,NaN,NaN,NaN
3834,238397,539000,5390,Blackhawk Technical College,Janesville,WI,53547-5009,NaN,NaN,NaN,...,NaN,0.5614,0.7836,2544.0,NaN,171.0,NaN,NaN,NaN,NaN

# Definitions

UNITID: Unique University Id

INSTNM: Name of the Institution

CITY: University Location

STABBR: State PostalCode of Universities

ZIP: ZipCode of University

ADM_RATE: Admission Rate of each University

UGDS: Enrollment of Undergraduate Students

TUITIONFEE_IN: Instate Tution Fee

MN_EARN_WNE_P10: Mean earnings are for the institutional aggregate of all federally aided students who enroll in an institution each year.

In [9]:
df1 = df[['UNITID','INSTNM','CITY','STABBR','ZIP','ADM_RATE','UGDS','TUITIONFEE_IN','MN_EARN_WNE_P10']]
df1

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
0,100654,Alabama A & M University,Normal,AL,35762,0.9027,4824.0,9857.0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,0.9181,12866.0,8328.0,NaN
2,100690,Amridge University,Montgomery,AL,36117-3553,NaN,318.0,6900.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,0.8123,6917.0,10280.0,NaN
4,100724,Alabama State University,Montgomery,AL,36104-0271,0.9787,4189.0,11068.0,NaN
...,...,...,...,...,...,...,...,...,...
7107,48312404,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,NaN
7108,48387801,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,NaN
7109,48400201,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,NaN
7110,48778201,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,NaN
7111,49005401,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,22575.0,NaN

In [16]:
df1.head(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
0,100654,Alabama A & M University,Normal,AL,35762,0.9027,4824.0,9857.0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,0.9181,12866.0,8328.0,NaN
2,100690,Amridge University,Montgomery,AL,36117-3553,NaN,318.0,6900.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,0.8123,6917.0,10280.0,NaN
4,100724,Alabama State University,Montgomery,AL,36104-0271,0.9787,4189.0,11068.0,NaN
5,100751,The University of Alabama,Tuscaloosa,AL,35487-0100,0.5330,32387.0,10780.0,NaN
6,100760,Central Alabama Community College,Alexander City,AL,35010,NaN,1404.0,4440.0,NaN
7,100812,Athens State University,Athens,AL,35611,NaN,2801.0,NaN,NaN
8,100830,Auburn University at Montgomery,Montgomery,AL,36117-3596,0.8240,4211.0,8020.0,NaN
9,100858,Auburn University,Auburn,AL,36849,0.8393,23391.0,10968.0,NaN

In [14]:
df1.tail(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
7102,48154401,National Personal Training Institute of Cleveland,Highland Heights,OH,44143,NaN,NaN,NaN,NaN
7103,48305401,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000,NaN,NaN,NaN,NaN
7104,48312401,Arizona State University at Tucson,Tucson,AZ,857454284,NaN,NaN,NaN,NaN
7105,48312402,Arizona State University - ASU Colleges at Lak...,Lake Havasu City,AZ,864036877,NaN,NaN,6904.0,NaN
7106,48312403,Arizona State University at The Gila Valley,Thatcher,AZ,855525545,NaN,NaN,NaN,NaN
7107,48312404,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,NaN
7108,48387801,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,NaN
7109,48400201,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,NaN
7110,48778201,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,NaN
7111,49005401,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,22575.0,NaN

In [15]:
df1.sample(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
5384,451529,Elite College of Cosmetology,Lexington,TN,38351,NaN,79.0,NaN,NaN
1749,173203,Central Lakes College-Brainerd,Brainerd,MN,56401-3900,NaN,1909.0,5494.0,NaN
3043,213534,Platt College-Berks Technical Institute,Wyomissing,PA,19610-1168,NaN,724.0,11260.0,NaN
1949,179511,St Louis College of Health Careers-St Louis,Saint Louis,MO,63110,NaN,258.0,NaN,NaN
1380,159522,Aveda Arts & Sciences Institute-Lafayette,Lafayette,LA,70503-3246,NaN,143.0,NaN,NaN
5234,448594,West Hills College-Lemoore,Lemoore,CA,93245,NaN,3843.0,1380.0,NaN
3340,220710,Maryville College,Maryville,TN,37804-5907,0.4927,1151.0,34196.0,NaN
4179,368629,Pima Medical Institute-Seattle,Seattle,WA,98115,NaN,630.0,NaN,NaN
4411,405748,Kiamichi Technology Center-Stigler,Stigler,OK,74462-9601,NaN,14.0,NaN,NaN
6744,13508116,Keiser University - Residential,West Palm Beach,FL,334090000,NaN,NaN,28380.0,NaN

In [18]:
df1.loc[df1["INSTNM"].str.contains("Johns Hopkins")]

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1473,162928,Johns Hopkins University,Baltimore,MD,21218-2688,0.1254,5663.0,52170.0,NaN

In [21]:
clg=df1.loc[df1["INSTNM"].isin(["University of Maryland-Baltimore County","University of Maryland-College Park","Loyola University Maryland","Johns Hopkins University"])]
clg

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1473,162928,Johns Hopkins University,Baltimore,MD,21218-2688,0.1254,5663.0,52170.0,NaN
1475,163046,Loyola University Maryland,Baltimore,MD,21210-2699,0.7528,3903.0,47560.0,NaN
1478,163268,University of Maryland-Baltimore County,Baltimore,MD,21250,0.6021,11130.0,11518.0,NaN
1479,163286,University of Maryland-College Park,College Park,MD,20742,0.4450,29273.0,10399.0,NaN

In [27]:
clg["TUITIONFEE_IN"].min()

10399.0

In [28]:
clg["TUITIONFEE_IN"].max()

52170.0

In [29]:
clg["TUITIONFEE_IN"].mean()

30411.75

In [31]:
st_df = df1[df1['STABBR'].isin(['MD', 'VA', 'DC', 'DE', 'PA'])]
st_df

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
634,130837,Margaret H Rollins School of Nursing at Beebe ...,Lewes,DE,19958,NaN,59.0,NaN,NaN
635,130873,Dawn Career Institute LLC,Newark,DE,19702,NaN,108.0,NaN,NaN
636,130907,Delaware Technical Community College-Terry,Dover,DE,19901,NaN,12408.0,4848.0,NaN
637,130934,Delaware State University,Dover,DE,19901,0.4518,3678.0,7868.0,NaN
638,130943,University of Delaware,Newark,DE,19716,0.6289,18948.0,13160.0,NaN
...,...,...,...,...,...,...,...,...,...
7063,45794301,Somerset County Technology Center - Bedford Site,Bedford,PA,15522,NaN,NaN,NaN,NaN
7084,47503303,Relay Graduate School of Education - Delaware,Wilmington,DE,19801,NaN,NaN,NaN,NaN
7089,47503308,Relay Graduate School of Education - Philadelp...,Philadelphia,PA,191224906,NaN,NaN,NaN,NaN
7094,47503313,Relay Graduate School of Education - Washingto...,Washington,DC,20002,NaN,NaN,NaN,NaN
7103,48305401,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000,NaN,NaN,NaN,NaN

In [32]:
st_df.to_csv("Five_states_colleges.csv")