<a href="https://colab.research.google.com/github/Jyothsna9618/Jabboju1/blob/main/Assignment_04/assignment04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("MERGED2017_18_PP.csv", sep=",")
print(df)

        UNITID    OPEID  OPEID6  \
0       100654   100200    1002
1       100663   105200    1052
2       100690  2503400   25034
3       100706   105500    1055
4       100724   100500    1005
...        ...      ...     ...
7107  48312404   108163    1081
7108  48387801  4223701   42237
7109  48400201  4228101   42281
7110  48778201  4221501   42215
7111  49005401  4182601   41826

                                                 INSTNM             CITY  \
0                              Alabama A & M University           Normal
1                   University of Alabama at Birmingham       Birmingham
2                                    Amridge University       Montgomery
3                   University of Alabama in Huntsville       Huntsville
4                              Alabama State University       Montgomery
...                                                 ...              ...
7107                   Arizona State University at Yuma             Yuma
7108  Bay Area Medical Academy - San Jose Satellite ...         San Jose
7109           High Desert Medical College - Bakerfield      Bakersfield
7110                                       BCI - Malden           Malden
7111               HCI College - Fort Lauderdale Campus  Fort Lauderdale

     STABBR         ZIP  ACCREDAGENCY  INSTURL  NPCURL  ...  \
0        AL       35762           NaN      NaN     NaN  ...
1        AL  35294-0110           NaN      NaN     NaN  ...
2        AL  36117-3553           NaN      NaN     NaN  ...
3        AL       35899           NaN      NaN     NaN  ...
4        AL  36104-0271           NaN      NaN     NaN  ...
...     ...         ...           ...      ...     ...  ...
7107     AZ   853656900           NaN      NaN     NaN  ...
7108     CA       95113           NaN      NaN     NaN  ...
7109     CA       93301           NaN      NaN     NaN  ...
7110     MA   021480000           NaN      NaN     NaN  ...
7111     FL       33309           NaN      NaN     NaN  ...

      OMENRUP_PARTTIME_POOLED_SUPP  FTFTPCTPELL  FTFTPCTFLOAN   UG12MN  \
0                              NaN       0.7106        0.7418   5207.0
1                              NaN       0.4009        0.5488  13308.0
2                              NaN       0.5000        0.5000    431.0
3                              NaN       0.2012        0.4231   7519.0
4                              NaN       0.7594        0.7402   5229.0
...                            ...          ...           ...      ...
7107                           NaN          NaN           NaN      NaN
7108                           NaN          NaN           NaN      NaN
7109                           NaN          NaN           NaN      NaN
7110                           NaN          NaN           NaN      NaN
7111                           NaN          NaN           NaN      NaN

       G12MN  SCUGFFN  POOLYRS_FTFTAIDPCT  FTFTPCTPELL_POOLED_SUPP  \
0     1185.0   1410.0                 NaN                      NaN
1     9888.0   1948.0                 NaN                      NaN
2      437.0      4.0                 NaN                      NaN
3     2378.0   1203.0                 NaN                      NaN
4      687.0   1143.0                 NaN                      NaN
...      ...      ...                 ...                      ...
7107     NaN      NaN                 NaN                      NaN
7108     NaN      NaN                 NaN                      NaN
7109     NaN      NaN                 NaN                      NaN
7110     NaN      NaN                 NaN                      NaN
7111     NaN      NaN                 NaN                      NaN

      FTFTPCTFLOAN_POOLED_SUPP  SCUGFFN_POOLED
0                          NaN             NaN
1                          NaN             NaN
2                          NaN             NaN
3                          NaN             NaN
4                          NaN             NaN
...                        ...             ...
7107                       NaN             NaN
7108                       NaN             NaN
7109                       NaN             NaN
7110                       NaN             NaN
7111                       NaN             NaN

[7112 rows x 1986 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)