<a href="https://colab.research.google.com/github/Jyothsna9618/Jabboju1/blob/main/Assignment_02/assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
list = []
print("enter 10 values")

for i in range(0,10): 
  while True :
    try :
      num= int(input("Enter Number "+ str(i) + " "))
      list.append(num)
      break;
    except ValueError :
      print("Enter a valid integer input in "+str(i))
print(list)

enter 10 values
Enter Number 0 894
Enter Number 1 898
Enter Number 2 896
Enter Number 3 895
Enter Number 4 893
Enter Number 5 892
Enter Number 6 898
Enter Number 7 899
Enter Number 8 892
Enter Number 9 895
[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

In [31]:
min = 0
for i in list :
  if min > i :
    min = i
print('Minimum number in the list is  '+str(min))

Minimum number in the list is  0

In [32]:
max = 0
for i in list :
  if max < i :
    max = i
print('Maximum number in the list is  '+str(max))

Maximum number in the list is  9

In [33]:
print("Range of the data in the List is  "+str(max - min))

Range of the data in the List is  9

In [34]:
sum = 0;
len = 0
for i in list :
  len = len +1
  sum = sum + i
mean = float(sum/len)
print("Mean of the list is "+str(mean))

Mean of the list is 5.2

In [39]:
deviations = [(i - mean) ** 2 for i in list ]
deviationSum = 0
for i in deviations :
  deviationSum = deviationSum + i
variance = deviationSum / len
print("Variance of the list is "+str(variance))

Variance of the list is 5.76

In [38]:
standardDeviation = variance ** (1/2)
print("Standard Deviation of the list is "+str(standardDeviation))

Standard Deviation of the list is 2.4